* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  background-color: #eceff1;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  overflow-x: hidden;
  
}
article::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Ubuntu", sans-serif;
}
main {
  padding: 0;
}
h1 {
  font-size: 2.5em;
}
h1,
h2,
h3 {
  line-height: 45px;
}
header {
  background-color: #09213e;
  color: #ffffff;
margin-top: -10px;

}
.logoarea {
  height: 120px;
  padding: 10px;
}
nav {
  padding: 0px;
}
nav ul {
  list-style: none;
  background-color: #f26b5e;
  text-align: center;
  padding: 0;
  margin: 0;
  
}
nav li {
  font-family: "ubuntu", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-decoration: none;
}

nav li {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}
nav a {
  text-decoration: none;
  color:#000
}
nav li:hover {
  background-color: yellow;

}
nav a:hover {
  background-color:transparent;
  color: #000;

}

nav li.active {
  background-color: #ffb856;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
#news_details {
  width:100%;
  background-color: #CCC;
  display: none;
  position: absolute;
  top:0;
  z-index: 999999;
  height:auto;
  display: none;
  padding: 100px;
}
.news_details_wrapper {
  width: 100%;
  background-color: #FFF;
  height:auto;
  display: table;
  padding: 30px;;
  border-radius: 10px;;
  max-height: 600px;
  overflow-y: auto;

}
.news_details_wrapper .heading {
   font-size: 30px;
   font-weight: bold;;
   color: #000;
}
.news_details_wrapper .date_wrapper {
  font-size: 20px;
  color: #666;
  right:180px;
  position: absolute;
}
 
.news_details_wrapper .author_wrapper {
  font-size: 20px;
  color: #666;
  margin-top: 20px;;
  width:100%;
}
.news_details_wrapper .author {
  font-size: 20px;
  color: #666;
  margin-top: 20px;
  margin-left: 20px;
  width:80%;
  float:left;
  text-align:left
}
.news_details_wrapper .author_img {
  float:left;
  font-size: 20px;
  width:70px;
  height:70px;
  border:2px solid #DDD;
  border-radius: 50%;
  color: #666;
  margin-top: 10px;;
  overflow: hidden;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  flex:1;
  justify-items: center;
}
.news_details_wrapper .img_wrapper  {
  width:100%;
  height: auto;
  align-items: center;
  justify-items: center;
  clear:both;
 
}
.news_details_wrapper .img_wrapper img {
  width:100%;
  height: auto;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  margin-top: 50px;
 
}
.news_details_wrapper .author_img img {
  width:80px;
  height: 70px;
  align-items: center;
  justify-items: center;
 
}
.news_details_wrapper .details{
  clear: both;
 font-size: 20px;
 color:#999;
 line-height: 40px;
 width:60%;
 padding:20px;
 

 
}

#close {
  width: 90px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right:10px;
  border-radius: 50%;
  z-index: 9999999;
  height: 90px;
  background-color: red;
  color: #000;
  font-size: 40px;
}
#close div {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  position: relative;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
 
.breaking_news {
  margin-top: 10px;
  height: 50px;
  background-color: yellow;
}
.flashing_news {
  background-color: #ccc;
  margin-top: 10px;
}
.flashing_news .flashing_news_main {
  padding-top: 200px;
  height: 550px;
}
.flashing_news .flashing_news_main h1 {
  color: #fff;
  line-height: 50px;
}
.flashing_news .flashing_news_main p {
  color: #eee;
}

.flashing_news .flashing_news_sub {
  padding-top: 0;
}
.flashing_news .flashing_news_sub h1 {
  color: #000;
  line-height: 25px;
  font-size: 1.2em;
}

.flashing_news .flashing_news_sub p {
  color: #666;
}
.flashing_news .flashing_news_sub .flashing_news_sub_img {
  width: 100%;
  float: right;
  margin-top: 15px;
}
.row {
  width: 100%;
  height: auto;
  display: table;
  clear: both;
}
.row:nth-child(1) {
  margin-bottom: 1em;
}
.row:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.news_clock {
  width: 20px;
  float: left;
  border: 1px solid #ccc;
  background-color: #ccc;
  margin-right: 10px;
}

.following_news {
  margin-top: 10px;
  clear: both;
}
.following_news article {
  height: auto;
  display: table;
  background-color: #fff;
  list-style: none;
  float: left;
  width: 18%;
  margin: 1%;
  border: 1px solid #eee;
}

.following_news article h3 {
  color: #fff;
  line-height: 30px;
}
.marquee_flag {
  margin-bottom: -25px;
  position: relative;
  top: 0px;
  background-color: yellow;
  width: 200px;
  color: #000;
  z-index: 999;
  padding: 0px;
  font-size: 20px;
}
marquee {
  font-size: 20px;
  font-family: "verdana";
}
section {
  background-color: transparent;
  height: auto;
  clear: both;
}

footer {
  clear: both;
  background-color: #09213e;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  padding: 15px;
}
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
.breakingflag {
  background-color: red;
  height: auto;
  width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
  float: right;
  margin: 10px;
  margin-top: -50px;
}
.developingflag {
  background-color: greenyellow;
  height: auto;
  margin: 10px;
  width: 200px;
  padding: 10px;
  color: #000;
  text-align: center;
  float: right;
  margin-top: -50px;
}

.breakingflagsmall {
  background-color: red;
  height: auto;
  width: 200px;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  float: left;
  margin: 5px;
  margin-left: 10px;
  margin-top: 30px;
}
.developingflagsmall {
  background-color: greenyellow;
  height: auto;
  margin: 5px;
  width: 200px;
  font-size: 13px;
  padding: 5px;
  color: #000;
  text-align: center;
  float: left;
  margin: 5px;
  margin-left: 10px;
  margin-top: 30px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
